* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: oswald;
  src: url("../../../public/assets/font/Oswald-Regular.woff2");
}

body {
  background-color: black;
}

.video_sec {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.video_sec video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  filter: brightness(0.8);
}

.text_sec {
  position: absolute;
  bottom: 10rem;
  left: 5rem;
  color: white;
  font-weight: 400;
  line-height: 50px;
}

.text_sec p {
  font-family: oswald;
  font-size: 48px;
  text-shadow: 0px 0px 20px black;
  font-weight: 400;
  letter-spacing: 0.4rem;
}

.hero_btn {
  position: absolute;
  bottom: 30px;
  left: 5rem;
  color: white;
  border: 1px solid white;
  padding: 0.8rem 2rem;
  font-family: freeSans;
  font-weight: 500;
  font-size: 17px;
  transition: ease-out 0.1s;
}

.hero_btn:hover {
  background-color: white;
  cursor: pointer;
  color: black;
}

svg {
  position: absolute;
  bottom: -2.5rem;
  left: 43%;
  width: 200px;
  height: 200px;
  stroke: rgb(255, 255, 255);
  transform: scale(1);
}

#Right2nd {
  animation: dash 0.666s ease forwards 1;
  animation-delay: 0.36s;
  opacity: 0.05;
}

#Left1st {
  animation: dash 1s ease forwards 1;
  animation-delay: 0s;
  opacity: 0.05;
}

.path {
  stroke-dasharray: 300 840;
  stroke-dashoffset: 420;
  stroke-width: 1px;
}

@keyframes dash {
  0% {
    opacity: 0;
    stroke-width: 0px;
    stroke-dasharray: 350 840;
    stroke-dashoffset: 300;
  }
  11% {
    stroke-width: 0.5px;
  }
  22% {
    stroke-width: 1px;
  }
  33% {
    stroke-width: 5px;
  }
  66% {
    opacity: 0.5;
    stroke-width: 9px;
  }
  100% {
    opacity: 1;
    stroke-width: 18px;
    stroke-dasharray: 120 840;
    stroke-dashoffset: 960;
  }
}
