* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: freeSans;
  src: url("public/assets/font/freesans-webfont.woff2");
}

.upper {
  display: flex;
  color: #ffffff;
  gap: 1rem;
  font-weight: 500;
  font-family: freeSans;
  font-size: 13px;
  justify-content: end;
  padding: 6px 2rem 0.6rem 0;
  width: 100%;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 5rem 0.5rem 1rem;
}

.l_header ul {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.l_header ul li {
  list-style: none;
}

.l_header ul li a {
  text-decoration: none;
  font-size: 15px;
  font-family: freeSans;
  font-weight: 400;
  color: #ffffff;
}

.logo {
  display: flex;
  margin-right: 15rem;
}

.r_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.lower {
  display: flex;
  gap: 2rem;
}

div {
  background-color: rgb(255, 0, 0);
}
