* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: freeSans;
  src: url("public/assets/font/freesans-webfont.woff2");
}

.nav_main {
  position: absolute;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.window-scroll {
  background-color: black;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 111;
}

.upper {
  display: flex;
  color: #ffffff;
  gap: 1rem;
  font-weight: 500;
  font-family: freeSans;
  font-size: 15px;
  justify-content: end;
  padding: 10px 2rem 0.6rem 0;
  line-height: 24px;
  width: 100%;
}

.location,
.ruppes {
  display: flex;
  align-items: center;
  gap: 5px;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 5rem 1rem 1rem;
}

.l_header ul {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.l_header ul li {
  list-style: none;
}

.l_header ul li a {
  text-decoration: none;
  font-size: 15px;
  font-family: freeSans;
  font-weight: 400;
  color: #ffffff;
}

.logo {
  display: flex;
  margin-right: 15rem;
}

.r_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.lower {
  display: flex;
  gap: 2rem;
  align-items: center;
}
